<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>会员中心</ion-title>
    </div>
  </ion-header>


<ion-content>
  <div class="bg-gray-f0">

    <div></div>
    <div>
        <div class="padding-left-20 bg-white margin-bottom-20">
            <div class="account">
              <span>充值记录</span>
            </div>
          </div>
      
         <table class="table" width='100%'>
           <thead class="bg-gray-bf h5 txt-bold">
             <th width="40%">购买日期</th>
             <th width='40%'>有效期至</th>
             <th width='20%'>金额</th>
           </thead>
           <tbody class="text-center">
             <tr class="tbtr h5">
               <td>19/09/11 16：24</td>
               <td>19/09/12 16：23</td>
               <td>￥18</td>
             </tr>
           </tbody>
         </table>

    </div>

  </div>
</ion-content>
