<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>{{lang.membercenter}}</ion-title>
    </div>
  </ion-header>


<ion-content>
  <div class="bg-gray-f0">
  
    <div class="mine">
      <img src="{{uploadpath}}resource/{{res.wodehuiyuan}}" class="huiyuan"/>
      <div class="perfixed">
          <div class="flex-row person">
              <div class="flex-2 ">
                <img src="{{uploadpath}}resource/{{res.touxiang}}" *ngIf='photo==""' class="icon-60 radius-50 touxiang"/>
                <img src="{{uploadpath}}member/{{photo}}" *ngIf='photo!=""' class="icon-60 radius-50 touxiang"/>
                <img *ngIf='ismember=="是"' src="{{uploadpath}}resource/{{res.vip}}" class="vip"/>
              </div>
              <div class="flex-3">
                <div class="margin-top margin-bottom-10">{{username}}</div>
                <div *ngIf='ismember=="否"' class=" h6">{{lang.notmember}}</div>
                <div *ngIf='ismember=="是"' class="txt-yellow-c6 h6">{{lang.ismember}}</div>
              </div>
              <div  *ngIf='ismember=="否"' class="flex-3 margin-top-80 text-center txt-yellow-c6 " routerLink='/memberchongzhi'>
                <span class="h6"> {{lang.applymember}}</span>
                <img src="{{uploadpath}}resource/{{res.C6arrow}}" class="icon-15 imgs" />
              </div>
              <div *ngIf='ismember=="是"' class="flex-3 margin-top-80 text-center txt-yellow-c6" routerLink='/memberchongzhi'>
                <span class="h6">{{lang.applyrenewal}}</span>
                <img src="{{uploadpath}}resource/{{res.C6arrow}}" class="icon-15 imgs" />
               
              </div>
              <div class="h6 positon" *ngIf='ismember=="是"'>{{lang.endtime}}：{{endtime}}</div>
            </div>
      </div>
    </div>
    <div class="margin-top-80">
        <div class="padding-left-20 bg-white margin-bottom-20">
            <div class="account">
              <span>{{lang.rechargerecord}}</span>
            </div>
          </div>
      
         <table class="table" width='100%'>
           <thead class="bg-gray-bf h5 txt-bold">
             <th width="40%">{{lang.purdate}}</th>
             <th width='40%'>{{lang.endtime}}</th>
             <th width='20%'>{{lang.money}}</th>
           </thead>
           <tbody class="text-center"  *ngFor='let item of integrationlist'>
             <tr class="tbtr h5">
               <td>{{getchangedatetime(item.payment_time)}}</td>
               <td>{{getchangedatetime(item.endtime)}}</td>
               <td>￥{{item.price}}</td>
             </tr>
           </tbody>
         </table>

    </div>

  </div>
</ion-content>
