<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.membercenter}}</ion-title>
    </div>
  </ion-header>
<ion-content>
  <div>
      <div class="imgs">
        <img src="{{uploadpath}}resource/{{res.paysuccess}}" class=""/>
      </div>
      <div class="text-center">
        <div class="h5">{{lang.succeactive}}{{paydate}}{{lang.vip}}，{{lang.validfor}}：</div>
        <div class="h5 txt-yellow-c6 margin-top-30">{{nowtime}}{{lang.zhi}}{{nexttime}}</div>
      </div>

      <div class="zhifu">
       
          <button class="btn txt-bold" routerLink='/tabs/tab2'>{{lang.seemsg}}</button>
        </div>

  </div>
</ion-content>
