<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='fanhui()'/>
      <ion-title>{{lang.guest}}</ion-title>
    </div>
  </ion-header>

<ion-content>
    <div class="bg-gray-f0">
      <div class="yaoqingma flex-row">
        <div class="flex-5 ">
         <img src="{{uploadpath}}resource/{{res.erweima}}" class="icon-20"/>
          <span class="margin-left-20 h5 txt-bold">{{lang.mycode}}</span>
        </div>
        <div class="flex-2 text-center h5 txt-bold">
            <span>{{mycode}}</span>
            <img (click)='copy(mycode)' src="{{uploadpath}}resource/{{res.copy}}" class="icon-20 margin-left-10" />
        </div>
        
      </div>

      <div class="">
        <div class="yongjin padding-left-30 txt-bold">{{lang.commissionlist}}</div>
        <ul>
          <li class="flex-row" *ngFor='let item of integrationlist'>
              
            <div class="flex-5">
                <div class="box" *ngIf='item.isread=="N"'></div>
                <div class="h5 margin-10 txt-bold">{{item.yongjin_name}}</div>
                <div class="h6 txt-gray-8a ">{{item.yongjin_time}}</div>
            </div>
            <div class="flex-2 qiubi txt-bold txt-green-25 h5"> +{{item.yongjin}}{{lang.ballcoin}}</div>
          </li>
        </ul>
      </div>

    </div>
</ion-content>
