

    <ion-slides #slides style='width: 100vw;' (swipe)="swipeEvent($event)" loop="true" autoplay="2000" autoplayDisableOnInteraction="false" >
        <ion-slide on-swipe-up="onSwipeUp()"><img [src]="uploadpath+'resource/'+res.title_pic" /></ion-slide>
        <ion-slide on-swipe-up="onSwipeUp()"><img [src]="uploadpath+'resource/'+res.huiyuan" /></ion-slide>
    </ion-slides>
      <div class="flex-row flex-center border-gray-2">
        <div class="margin-left-20 margin-right-20"><img src="{{uploadpath}}resource/{{res.kuaibao}}" class="icon-50"/></div>
        
        <div><span>最新最猛最火热的推荐尽在大赢家！！！</span>  </div>
      </div>

<ion-content>

    <div class="flex-row text-center margin-20">
      <div class="flex-1">
          <a class="new-active txt-black" (click)='newRecom($event)'>
              最新推介
            </a>
      </div>
        <div class="flex-1">
            <a class="txt-black" (click)='oldRecom($event)'>
                往期推介
              </a>
        </div>
    </div>

    <div  *ngFor='let list of footlist'>
      <div class="time-box text-center h4-5 margin-top-20" *ngIf='rec_time!=""'>
        {{rec_time}}
      </div>
      <div class="time-box text-center h4-5 margin-top-20" *ngIf='rec_time==""'>
          {{list.recom_time_dateformat}}
      </div>
      <table  class="text-center" width='100%' cellspacing="0" cellpadding="0" >
        <thead class="bg-orange table-th ">
          <th>序号</th>
          <th>赛事</th>
          <th>主队</th>
          <th>客队</th>
          <th>推介</th>
        </thead>
        <tbody *ngFor='let item of list.com_time;let i=index'>
          <tr *ngFor='let lists of item.footteam;let k=index' class="tr-border h5">
            <td *ngIf='k==0' rowspan="2" class="h5">NO.{{i+1}}</td>
            <td *ngIf='k==0'>{{lists.com_name}}</td>
            <td *ngIf='k==1'>{{lists.com_name}}</td>
            <td *ngIf='k==0'>{{lists.hostteam}}</td>
            <td *ngIf='k==1'>{{lists.hostteam}}</td>
            <td *ngIf='k==0'>{{lists.guestteam}}</td>
            <td *ngIf='k==1'>{{lists.guestteam}}</td>
            <td *ngIf='k==0 && isshow==false' rowspan="2"><a class="txt-red" (click)='watchthis(list)'>会员查看</a></td>
            <td *ngIf='k==0 && isshow' style="border: none"><a class="txt-red" (click)='watchthis(list)'>{{lists.result}}</a></td>
            <td *ngIf='k==1 && isshow'><a class="txt-9" (click)='watchthis(list)'>{{lists.result}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>

</ion-content>
