@function rpx($px) {
    @return ($px * 100vw) / 750;
  }


.border-gray-2 {
    border-bottom: rpx(4) solid #ccc;
}

.lunbo {
    width: 100vw;
    height: rpx(400);
}

.new-active {
    background: #79AF4E;
    color: #fff !important;
    outline:none;
}



.txt-t-g {
    color: #79AF4E;
}

.time-box {
    width: 100%;
    height: rpx(92);
    background: #444444;
    line-height: rpx(92);
}

.table-th {
    th {
        padding: rpx(20) 0;
        border-left: rpx(2) solid #000;
        border-bottom: rpx(2) solid #000;
        border-top: rpx(1) solid #000;
    }
}
th:first-of-type {
    border-left: none !important;
}


.tr-border {
    background: #F0F2F5;
    border-bottom: rpx(2) solid #000;
    td {
        padding-bottom: rpx(2);
    }
    div {
        padding: rpx(9) 0;
    }
}

.bg-y {
    background: #FFD500;
}

.nav-box {
    height: rpx(88);
}

.padding-tb {
    padding-top: rpx(30);
    padding-bottom: rpx(30);
}

.bg-th {
    background: #8A8A8A;
}

