

    <!-- <div class="lunbo"  >
        <img [src]="uploadpath+'resource/'+res.title_pic" />
        <img [src]="uploadpath+'resource/'+res.huiyuan" /> -->

        <ion-slides class="lunbo" pager="true"  [options]="slidesOpts"  #slide01  (ionSlideTouchEnd)= "slideTouchEnd()">
          <!-- <ion-slide class="ion_slide" *ngFor="let item of slidesList"> -->

            <img [src]="uploadpath+'resource/'+res.title_pic">
            <img [src]="uploadpath+'resource/'+res.huiyuan" />
        </ion-slides>

          <!-- </ion-slide> -->
    <!-- </div> -->
      <div class="flex-row flex-center bg-y nav-box bor_bot-b ">
        <div class="margin-left-20 margin-right-20"><img src="{{uploadpath}}resource/{{res.kuaibao}}" class="icon-30"/></div>
        
        <div><span class="h5 txt-bold">最新最猛最火热的推荐尽在大赢家！！！</span>  </div>
      </div>

<ion-content>

    <div class="flex-row text-center bor_bot-b">
      <button class="flex-1 new-active padding-tb txt-t-g h4" (click)='newRecom($event)'>最新推介</button>
      <button class="flex-1 padding-tb txt-t-g h4" (click)='oldRecom($event)'> 往期推介</button>
    </div>

    <div *ngFor='let list of footlist'>
      <div class="time-box text-center h4-5 txt-white txt-bold " >
        {{list.recom_time}}
      </div>
      <table  class="text-center" width='100%' cellspacing="0" cellpadding="0" >
        <thead class="bg-th table-th txt-white">
          <th >序号</th>
          <th>赛事</th>
          <th>主队</th>
          <th>客队</th>
          <th>推介</th>
        </thead>
        <tbody  *ngFor='let item of list.com_date;let i=index'>
          <tr  class="tr-border h5 txt-bold">
            <td  class="h5">NO.{{i+1}}</td>
            <td >
                <div>{{item.com_name_name}}</div>
                <div>{{item.com_name2_name}}</div>
            </td>
            <td >
                <div>{{item.hostteam_name}}</div>
                <div>{{item.host2_name}}</div>
            </td>
            <td >
                <div>{{item.guestteam_name}}</div>
                <div>{{item.guest2_name}}</div>
            </td>
            <td  *ngIf='isshow==false'>
              <div><a  class="txt-red" (click)='watchthis(list)'>等待结果</a></div>
              <div *ngIf='isshow'>
                  <a  class="txt-red" (click)='watchthis(list)'>{{item.result}}</a>
                  <a  class="txt-red" (click)='watchthis(list)'>{{item.result2}}</a>
              </div>
            </td>
            <td  *ngIf='isshow'>
                <div>
                    <a  *ngIf='item.result=="Y"' class="txt-red" (click)='watchthis(list)'>命中</a>
                    <a  *ngIf='item.result=="N"'  class="txt-9" (click)='watchthis(list)'>未中</a>
                </div>
                <div>
                    <a  *ngIf='item.result2=="Y"'  class="txt-red" (click)='watchthis(list)'>命中</a>
                    <a  *ngIf='item.result2=="N"' class="txt-9" (click)='watchthis(list)'>未中</a>
                </div>
              </td>
        </tbody>
      </table>
    </div>

</ion-content>
