<ion-header>
  <div class="bg-nav txt-white">
        <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
        <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
    <ion-title>{{lang.language}}</ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="flex-row flex-center">
      <ion-button class="flex-1" (click)='change("en")'>英语</ion-button>
      <ion-button class="flex-1" (click)='change("tc")'>繁体中文</ion-button>
      <ion-button class="flex-1" (click)='change("sc")'>简体中文</ion-button>
  </div>
 
</ion-content>
