<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>球币充值</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0">

    <div class="qiubi">
      <div class="txt-bold margin-top-30">请选择充值金额</div>
      <ul>
        <li class="money" (click)='choose($event)'>
          <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">60球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥6</div>
          </div>
        </li>
        <li class="money" (click)='choose($event)'>
          <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">120球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥12</div>
          </div>
        </li>
        <li class="money" (click)='choose($event)'>
           <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">300球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥30</div>
            </div>
        </li>
        <li class="money" (click)='choose($event)'>
          <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">680球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥68</div>
          </div>
        </li>
        <li class="money" (click)='choose($event)'>
          <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">1280球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥128</div>
          </div>
        </li>
        <li class="money money-active" (click)='choose($event)'>
            <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">3000球币</div>
              <div class="flex-2 h5 txt-gray-bf txt-bold">￥300</div>
            </div>
        </li>
      </ul>
      
    </div>
    <div class="margin-top-60 margin-left-30">
      <div class="wenxin h6 txt-bold">温馨提示：</div>
      <div class="txt-gray-8a h6 txt-bold">1. 球币可用于购买推介的内容。</div>
      <div class="txt-gray-8a h6 txt-bold margin-top-10 margin-bottom-10">2. 球币不可兑换现金，提现或转赠他人。</div> 
      <div class="txt-gray-8a h6 txt-bold">3. 球币充值后，不支持无理由退款。</div>
    </div>

    <div class="zhifu">
      <div class="h5 txt-bold">点击立即充值，即表示您已经同意<span class="txt-blue-14">《充值协议》</span></div>
      <button class="btn txt-bold" (click)='pay()'>立即支付</button>
    </div>
  </div>
</ion-content>
