@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

  
  .touxiang {
    width: rpx(176);
    height: rpx(176);
    border-radius: rpx(56);
  }
  
  .txt92 {
    color: #929292;
  }
  
  .height-35 {
    height: rpx(70);
  }
  
  .padding-bottom-12 {
    padding-bottom: rpx(24);
  }
  
  .youicon {
    height: rpx(36);
    width: rpx(36);
  }
  
  .qianming {
    max-width: rpx(500);
  }
  
  .bg-blue-14 {
    background: #143779;
  }
  .btns{
    height: rpx(96);
    width: 100%;
    line-height: rpx(96);
    text-align: center;
    color: #fff;
  }
  .height-1{
    height: rpx(2);
}