<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1"  class="tab_footer">
      <img src="{{uploadpath}}resource/{{res.saima}}" class="icon-25"/>
      <ion-label>{{lang.horse}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab_footer">
      <img src="{{uploadpath}}resource/{{res.zuzhicai}}" class="icon-25"/>
      <ion-label>{{lang.foot}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab_footer">
      <img src="{{uploadpath}}resource/{{res.tuijian}}" class="icon-25"/>
      <ion-label>{{lang.recommendation}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="tab_footer">
      <img src="{{uploadpath}}resource/{{res.mine}}" class="icon-25"/>
      <ion-label>{{lang.mine}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
