<ion-header>
  <div class="bg-nav txt-white">
        <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
        <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
    <ion-title>我的收藏</ion-title>
  </div>
</ion-header>

<ion-content>
  <div class="bg-gray-f0" *ngIf='recomfavlist!=null'>

      <div class="yigou" *ngFor='let list of recomfavlist'>
        
        <div class="flex-row" *ngFor='let item of list.recom' (click)='tiaozhuan(item.id,item.user_id)'>
            <div class="flex-5">
                <div class="txt-bold">{{item.biaoti}}</div>
                <div class="margin-top-20 h5 txt-gray-8a">{{item.pub_time}}</div>
            </div>
            <div class="flex-2" *ngIf='item.zongjieguo=="Y"'>
                <img src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
            </div>
            <div class="flex-2" *ngIf='item.zongjieguo=="N"'>
              <img src="{{uploadpath}}resource/{{res.weizhong}}" class="icon-60" />
            </div>
        </div>
      </div>

      
  </div>
  
</ion-content>

