
@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

.bg-gray-f0 {
    width: 100vw;
    height: 100vh;
    background: #F0F2F5;
    padding-top: rpx(40);
}

.yigou {
    width: rpx(700);
    height: rpx(160);
    background: #ffffff;
    border-radius: rpx(20);
    padding-top: rpx(20);
    margin: 0 auto;
    margin-bottom: rpx(40);
    padding-left: rpx(20);
    position: relative;

}

.txt-gray-8a {
    color: #8A8A8A;
}