<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.createplan}}</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="">
    <div class="liuyan">
        <div class="top h5 txt-bold">
            {{lang.plantitle}}
          </div>
          <div class="">
            <ion-textarea  [(ngModel)]="biaoti"  class="biaoti h5" placeholder='{{lang.plantitle1}}...'></ion-textarea>
          </div> 
        <div class="top h5 txt-bold">
          {{lang.plancontent}}
        </div>
        <div class="">
          <textarea  [(ngModel)]="content"  class="textarea h5" placeholder='{{lang.plancontent1}}...'></textarea>
        </div>
        <div (click)='save()' class="save h4-5 text-center txt-bold">
          {{lang.save}}
        </div>
      </div>
    </div>
</ion-content>
