<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>创建计划</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="">
    <div class="liuyan">
        <div class="top h5 txt-bold">
            计划标题
          </div>
          <div class="">
            <ion-textarea  [(ngModel)]="biaoti"  class="biaoti h5" placeholder='此处输入标题...'></ion-textarea>
          </div> 
        <div class="top h5 txt-bold">
          计划内容
        </div>
        <div class="">
          <textarea  [(ngModel)]="content"  class="textarea h5" placeholder='此处输入计划内容...'></textarea>
        </div>
        <div (click)='save()' class="save h4-5 text-center txt-bold">
          保存
        </div>
      </div>
    </div>
</ion-content>
