<ion-header>
    <div class="bg-nav txt-white" (click)='back()'>
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" />
      <ion-title>编辑资料</ion-title>
    </div>
  </ion-header>
  
  <ion-content>
    <div class="padding-40">
  
      <div class="padding white-block border-bottom padding-bottom-12">
        <div class="height-35" ></div>
        <div class="flex-row flex-center"  >
          <div class="txt92 h5">用户名</div>
          <ion-input class="flex-1 text-right txt-black h5" disabled [(ngModel)]='name'>
          </ion-input>
          <!-- <img src="{{uploadpath}}resource/{{res.arrow}}" class="youicon margin-left-20" /> -->
        </div>
        <div style="width:90vw;background:#D6D7D9;" class="margin-top-12 height-1"></div>
      </div>
  
  
      <div class="padding white-block border-bottom padding-bottom-12">
          <div class="height-35" ></div>
          <div class="flex-row flex-center"  >
            <div class="txt92 h5">旧密码</div>
            <ion-input class="flex-1 text-right txt-black h5"  placeholder="请输入密码"  [(ngModel)]='password' type='password'>
            </ion-input>
            <img src="{{uploadpath}}resource/{{res.arrow}}" class="youicon margin-left-20" />
          </div>
          <div style="width:90vw;background:#D6D7D9;" class="margin-top-12 height-1"></div>
        </div>
  
        <div class="padding white-block border-bottom padding-bottom-12">
            <div class="height-35" ></div>
            <div class="flex-row flex-center"  (click)='checkold()'>
              <div class="txt92 h5">新密码</div>
              <ion-input class="flex-1 text-right txt-black h5"   placeholder="请输入密码"  [(ngModel)]='password1' type='password'>
              </ion-input>
              <img src="{{uploadpath}}resource/{{res.arrow}}" class="youicon margin-left-20" />
            </div>
            <div style="width:90vw;background:#D6D7D9;" class="margin-top-12 height-1"></div>
          </div>

          <div class="padding white-block border-bottom padding-bottom-12">
              <div class="height-35" ></div>
              <div class="flex-row flex-center" (click)='checkold()'>
                <div class="txt92 h5">确认密码</div>
                <ion-input class="flex-1 text-right txt-black h5" placeholder="请输入密码"  [(ngModel)]='password2' type='password'>
                </ion-input>
                <img src="{{uploadpath}}resource/{{res.arrow}}" class="youicon margin-left-20" />
              </div>
              <div style="width:90vw;background:#D6D7D9;" class="margin-top-12 height-1"></div>
            </div>

      <div class="height-35" ></div>
      <button (click)="save()"  class="h4-5 bg-blue-14 btns" size="block" >完成</button>
  
  
    </div>
  </ion-content>
  