<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>已购推荐</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0">

      <div class="yigou" (click)='tiaozhuan()'>
        <div class="h5">2019/08/25</div>
        <div class="flex-row">
          <div class="flex-1">
            <img src="{{uploadpath}}resource/{{res.mine}}" class="icon-40 tuobiao" />
          </div>
          <div class="flex-5 margin-30">
              <div>每日一推</div>
              <div class="h6 margin-top-5">英超精选，冲击4连红！！！</div>
          </div>
          <div class="flex-2">
              <img src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
          </div>
        </div>
      </div>

  </div>
  
</ion-content>
