<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.referral}}</ion-title>
    </div>
  </ion-header>

<ion-content  >
  <div class="bg-gray-f0 {{purchasedlist.length!=0?'height-100vh':'height-0'}}"  *ngIf='purchasedlist!=null '>

      <div class="yigou" *ngFor='let list of purchasedlist' >
        <div *ngFor="let item of list.recom" (click)='tiaozhuan(item.id)'>
            <div class="h5">{{item.pub_time}}</div>
            <div class="flex-row">
              <div class="flex-1">
                <img src="{{uploadpath}}resource/{{res.mine}}" *ngIf='list.befocus_id_photo==""' class="icon-40 tuobiao" />
                <img src="{{uploadpath}}user/{{list.befocus_id_photo}}"  *ngIf='list.befocus_id_photo!=""' class="icon-40 tuobiao" />
              </div>
              <div class="flex-5 margin-30">
                  <div>{{list.befocus_id_name}}</div>
                  <div class="h6 margin-top-5">{{item.biaoti}}</div>
              </div>
              <div class="flex-2">
                  <img *ngIf='item.zongjieguo=="Y"' src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
                  <img *ngIf='item.zongjieguo=="N"' src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
              </div>
            </div>
        </div>
        
      </div>

  </div>

  <div *ngIf='purchasedlist==null || purchasedlist.length==0'  class="zanwu">
    <img src="{{uploadpath}}resource/{{res.zanwuneirong}}"/>
    <div>
        {{lang.neirong}}
    </div>
  </div>
  
</ion-content>

