<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>已购推荐</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0" >

      <div class="yigou" *ngFor='let list of purchasedlist' (click)='tiaozhuan()'>
        <div *ngFor="let item of list.recom">
            <div class="h5">{{item.pub_time}}</div>
            <div class="flex-row">
              <div class="flex-1">
                <img src="{{uploadpath}}resource/{{res.mine}}" class="icon-40 tuobiao" />
              </div>
              <div class="flex-5 margin-30">
                  <div>{{item.name}}</div>
                  <div class="h6 margin-top-5">{{item.biaoti}}</div>
              </div>
              <div class="flex-2">
                  <img *ngIf='item.zongjieguo=="Y"' src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
                  <img *ngIf='item.zongjieguo=="N"' src="{{uploadpath}}resource/{{res.mingzhong}}" class="icon-60" />
              </div>
            </div>
        </div>
        
      </div>

  </div>
  
</ion-content>
