
<ion-content [style.background-image]="'url('+uploadpath+'resource/'+res.loginbackground+')'" style="background-size: 100vw 100vh;">
<div>
  <div class=" bg" >
    <div class="height197"></div>
      <div >
          <div class="h4 txt-bold">
              {{lang.hello}}
          </div>
          <div class="h4 txt-bold">
              {{lang.wecome}}
          </div>    
      </div>
    <div class="padding-10">
  
      <div>
        <div class="height-80"></div>
        <div class="flex-row   flex-center ">
          <div class="  h4-6">{{lang.login}}</div>
          <div style="" class="width-30"></div>
          <div class=" h4-6 op" (click)="zhuce()">{{lang.newuser}}</div>
        </div>
        <div class="white_block"></div>
        <div class="height-40"></div>
  
        <div>
          <div class="flex-row column">
            <!-- <div class="txt-white">手机号</div> -->
            <div class="flex-row flex-center shurukuang">
              <div class="width-16"></div>
              <!-- <div class="txt-white h5">+86</div> -->
              <img [src]="uploadpath+'resource/'+res.user" class=" icon-20 margin-left-10">
  
              <ion-input class=" sjh margin-left-15" placeholder="{{lang.entername}}" type="text" [(ngModel)]="username"
                >
              </ion-input>
            </div>
          </div>
        </div>
  
  
        <div class="margin-top">
          <div class="flex-row column">
            <!-- <div class="txt-white">密码</div> -->
            <div class="flex-row flex-center shurukuang">
              <div class="width-16"></div>
              <ion-input class="sjh padding-left-40" placeholder="{{lang.enterpwd}}" type="password" [(ngModel)]="password"
                maxlength="30"></ion-input>
            </div>
  
  
  
          </div>
        </div>
  
        <div class="hr"></div>
  
  
  
        <div class="">
          <div style="" class="height-60"></div>
          <!-- <ion-button   size="block" color="danger"  class="h4-5 dl" (click)="trylogin()" >登 录</ion-button> -->
          <ion-button size="block" color="mycolor" class="h4-5 dl" (click)="trylogin()">{{lang.login}}</ion-button>
        </div>
  
        <div class="margin-top-25 margin-bottom50 ">
          <div class="flex-row flex-center">
            <!-- <div class='flex-1 txt-gray'></div> -->
            <div class="h5 text-center  flex-4" (click)='forgetpwd()'>{{lang.forgetpwd}}</div>
          </div>
        </div>
  
        <div style="" class="height-87"></div>
  
   
      </div>
    </div>
  </div>
  
</div>
</ion-content>