<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.notes}}</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0 {{focuslist.length!=0?'height-100vh':'height-0'}}" *ngIf='focuslist!=null'>

      <div class="yigou" *ngFor='let list of focuslist'>
        <div class="flex-row" *ngFor='let item of list.befocus'>
          <div class="flex-2 text-right"  (click)='focusper(item.user_id)'>
            <img src="{{uploadpath}}user/{{list.befocus_id_photo}}" *ngIf='list.befocus_id_photo!=""' class="icon-60 margin-top-20 radius-50" />
            <img src="{{uploadpath}}resource/{{res.touxiang}}" *ngIf='list.befocus_id_photo==""' class="icon-60 margin-top-20 radius-50" />
            <img src="{{uploadpath}}resource/{{res.new}}" *ngIf='list.isnew' class="icon-42"/>
          </div>
          <div class="flex-4 margin-top margin-left-20"  (click)='focusper(item.user_id)'>
              {{list.befocus_id_name}}
          </div>
          <div class="flex-4 margin-top-20">
            <div class="flex-1 text-center " *ngIf='list.guanzushow==true' (click)='guanzu(list)'>
              <img src="{{uploadpath}}resource/{{res.jia}}" class="jia"/>
              <span  class="guanzu">{{lang.focus}}</span>
            </div>
            <div class="flex-1 text-center " *ngIf='list.guanzushow==false' (click)='guanzu(list)'>
                <img src="{{uploadpath}}resource/{{res.jian}}" class="jian"/>
                <span  class="quguan">{{lang.notfocus}}</span>
            </div>
              <div class="margin-top-20" (click)='focusper(item.user_id)'>
                  <span class="h6 txt-gray-d2">{{lang.recentachi}}</span>
                  <span class="txt-red-e5 h2 txt-bold">{{item.success_result}}</span>
              </div>
             
          </div>
        </div>
      </div>

  </div>
  <div *ngIf='focuslist==null || focuslist.length==0'  class="zanwu">
    <img src="{{uploadpath}}resource/{{res.zanwuneirong}}"/>
    <div>
        {{lang.neirong}}
    </div>
  </div>
</ion-content>
