<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>我的关注</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0">

      <div class="yigou" *ngFor='let list of focuslist'>
        <div class="flex-row" *ngFor='let item of list.befocus'>
          <div class="flex-2 text-right"  (click)='focusper(item.user_id)'>
            <img src="{{uploadpath}}member/{{list.befocus_id_photo}}" class="icon-60 margin-top-20 radius-50" />
            <img src="{{uploadpath}}resource/{{res.new}}" *ngIf='list.isnew' class="icon-42"/>
          </div>
          <div class="flex-3 margin-top margin-left-20"  (click)='focusper(item.user_id)'>
              {{list.befocus_id_name}}
          </div>
          <div class="flex-3 margin-top-20">
            <div class="flex-1 text-center " *ngIf='guanzushow' >
              <img src="{{uploadpath}}resource/{{res.jia}}" class="jia"/>
              <span  class="guanzu">关注</span>
            </div>
            <div class="flex-1 text-center " *ngIf='guanzushow==false' >
                <img src="{{uploadpath}}resource/{{res.jian}}" class="jian"/>
                <span  class="quguan">取关</span>
            </div>
              <div class="margin-top-20" (click)='focusper(item.user_id)'>
                  <span class="h6 txt-gray-d2 margin-right-20">近期战绩</span>
                  <span class="txt-red-e5 h2 txt-bold">{{item.success_result}}</span>
              </div>
             
          </div>
        </div>
      </div>

  </div>
  
</ion-content>
