

<ion-content>
  <div>
      <ion-slides (swipe)="swipeEvent($event)"
      #slide01  pager loop="true" autoplay="2000"  (ionSlideTouchEnd)= "slideTouchEnd()">
            <ion-slide  *ngFor='let img of imgs'>
                <img src="{{uploadpath}}lunbo/{{img.lunbo}}">
              </ion-slide>
      </ion-slides>

      <div class="flex-row flex-center bg-y nav-box bor_bot-b ">
        <div class="margin-left-20 margin-right-20"><img src="{{uploadpath}}resource/{{res.kuaibao}}" class="icon-40"/></div>
        
        <div><span class="h5 txt-bold">最新最猛最火热的推荐尽在大赢家！！！</span>  </div>
      </div>
  </div>

  <div class="flex-row text-center bor_bot-b">
    <button class="flex-1 new-active padding-tb txt-blue-14 h4" (click)='newRecom($event)'>最新推介</button>
    <button class="flex-1 padding-tb txt-blue-14 h4" (click)='oldRecom($event)'> 往期推介</button>
  </div>

  
  <div>
    <div class="time-box h4-5 bor_bot-b" >
      <div class="h4-5 txt-white txt-bold padding-top-20 padding-bottom-20 text-center">赛马日：2019/08/12</div>
      <div class="h6 txt-white txt-bold padding-left-30">说明：绿色框表示首选，黄色框表示备选，6中4即为全中</div>
    </div>
  </div>

  <table class="" width='100%'>
    <thead class="biaotou bor-bot-a">
      <th>场次</th>
      <th>推&nbsp;介&nbsp;马&nbsp;匹&nbsp;号&nbsp;码</th>
      <th>命中率</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

</ion-content>
