@function rpx($px) {
  @return ($px * 100vw) / 750;
}



.nav-box {
  height: rpx(88);
}

.bg-y {
  background: #FFD500;
}

.new-active {
  background: #143779;
  color: #fff !important;
  outline:none;
}


.padding-tb {
  padding-top: rpx(30);
  padding-bottom: rpx(30);
}

.txt-blue-14{
  color: #143779;
}


.time-box {
  width: 100%;
  height: rpx(128);
  background: #143779;
  // line-height: rpx(92);
}

.biaotou {
  
  background: #8A8A8A;
  color: #fff;
  th {
    height: rpx(72);
  }
}

.bor-bot-a {
  border-bottom: rpx(4) solid rgb(48, 44, 44);
}