

<ion-content>
  <div>
      <ion-slides (swipe)="swipeEvent($event)"
      #slide01  pager loop="true" autoplay="2000"  (ionSlideTouchEnd)= "slideTouchEnd()">
            <ion-slide  *ngFor='let img of imgs'>
                <img src="{{uploadpath}}lunbo/{{img.lunbo}}">
              </ion-slide>
      </ion-slides>

      <div class="flex-row flex-center bg-y nav-box bor_bot-b ">
        <div class="margin-left-20 margin-right-20"><img src="{{uploadpath}}resource/{{res.kuaibao}}" class="icon-40"/></div>
        
        <div><span class="h5 txt-bold">最新最猛最火热的推荐尽在大赢家！！！</span>  </div>
      </div>
  </div>
     
</ion-content>
