<ion-header *ngIf='info!=null'>
  <div class="flex-row person"  routerLink='/myaccount'>
    <div class="flex-1">
      <img src="{{uploadpath}}resource/{{res.touxiang}}" *ngIf='info.photo==""' class="icon-60 radius-50 touxiang"/>
      <img src="{{uploadpath}}member/{{info.photo}}" *ngIf='info.photo!=""' class="icon-60 radius-50 touxiang"/>
      <img *ngIf='info.ismember=="是"' src="{{uploadpath}}resource/{{res.vip}}" class="vip"/>
    </div>
    <div class="flex-3">
      <div class="txt-white margin-top margin-bottom-10">{{info.name}}</div>
      <div *ngIf='info.ismember=="否"' class="txt-gray-bf h6">抱歉，您还不是会员</div>
      <div *ngIf='info.ismember=="是"' class="txt-yellow-c6 h6">尊敬的会员，您好！</div>
    </div>
    <div class="flex-1 margin-top-80 text-center">
      <img src="{{uploadpath}}resource/{{res.arrowright}}" class="icon-15" />
    </div>
  </div>
</ion-header>

<ion-content>
  <ul>
    <li class="flex-row info"  routerLink='/chongzhi'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.money}}" class="icon-20 margin-left-30 margin-right-20 tuobiao">
        <span class="h2 txt-blue-14 margin-right-10">{{info.ballnum}}</span>
        <span class="h6">球币</span>
      </div>
      <div class="flex-2 text-center">
        <span class="h6">去充值</span>
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/yigou'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.yigou}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">已购推介</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/touzi'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.touzi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">投资计划</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/shoucang'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.wodeshoucang}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">我的收藏</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info"  routerLink='/guanzhu'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.guanzhu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">我的关注</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/members'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.kehu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">我的会员</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/mykehu'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.kehu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">我的客户</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/message'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.xiaoxi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">消息通知</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/setting'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.shezhi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">设置</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/fankui'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.fankui}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">帮助反馈</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/abouttuiliao'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.guanyu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">关于我们</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
  </ul>
</ion-content>
