<ion-header *ngIf='memberInfo!=null'>
  <div class="flex-row person"  routerLink='/myaccount'>
    <div class="flex-1">
      <img src="{{uploadpath}}resource/{{res.touxiang}}" *ngIf='memberInfo.photo==""' class="icon-60 radius-50 touxiang"/>
      <img src="{{uploadpath}}member/{{memberInfo.photo}}" *ngIf='memberInfo.photo!=""' class="icon-60 radius-50 touxiang"/>
      <img *ngIf='memberInfo.ismember=="是"' src="{{uploadpath}}resource/{{res.vip}}" class="vip"/>
    </div>
    <div class="flex-3">
      <div class="txt-white margin-top margin-bottom-10">{{memberInfo.name}}</div>
      <div *ngIf='memberInfo.ismember=="否"' class="txt-gray-bf h6">{{lang.notmember}}</div>
      <div *ngIf='memberInfo.ismember=="是"' class="txt-yellow-c6 h6">{{lang.ismember}}</div>
    </div>
    <div class="flex-1 margin-top-80 text-center">
      <img src="{{uploadpath}}resource/{{res.arrowright}}" class="icon-15" />
    </div>
  </div>
</ion-header>

<ion-content>
  <ul>
    <li class="flex-row info"  routerLink='/chongzhi'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.money}}" class="icon-20 margin-left-30 margin-right-20 tuobiao">
        <span class="h2 txt-blue-14 margin-right-10">{{memberInfo.ballnum}}</span>
        <span class="h6">{{lang.ballcoin}}</span>
      </div>
      <div class="flex-2 text-center">
        <span class="h6">{{lang.torecharge}}</span>
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/yigou'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.yigou}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.referral}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/touzi'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.touzi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.Investment}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/shoucang'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.wodeshoucang}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.collection}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info"  routerLink='/guanzhu'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.guanzhu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.notes}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/members'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.kehu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.member}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/mykehu'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.kehu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.guest}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/message'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.xiaoxi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.message}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/setting'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.shezhi}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.setting}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="line"></li>
    <li class="flex-row info" routerLink='/fankui'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.fankui}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.feedback}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <li class="flex-row info" routerLink='/abouttuiliao'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.guanyu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.aboutus}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li>
    <!-- <li class="flex-row info" (click)='navigate("langchoose")'>
      <div class="flex-3">
        <img src="{{uploadpath}}resource/{{res.guanyu}}" class="icon-20 margin-left-30 margin-right-20">
        <span class="h5">{{lang.language}}</span>
      </div>
      <div class="flex-2 text-center">
        <img src="{{uploadpath}}resource/{{res.arrow}}" class="icon-25 imgs" />
      </div>
    </li> -->
  </ul>
</ion-content>
