<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.memberreg}}</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div>
    <div class="margin-20 txt-bold">{{lang.openmember}}</div>
    <div>
        <div class="member"  (click)='choose($event,item)' *ngFor='let item of huiyuanlist'>
            <div class="flex-row">
              <div class="flex-4 h5 margin-left-20 txt-bold">{{item.days}}天</div>
              <div class="flex-2  txt-gray-bf txt-bold">{{lang.gang}}<span class="f-36">{{item.money}}</span></div>
            </div>
        </div>
    </div>

    <div class="margin-top-60 margin-left-30">
        <div class="wenxin h6 txt-bold">{{lang.reminder}}：</div>

        <div class="txt-gray-8a h6 txt-bold" style="white-space:pre-wrap"> {{InstInfo.tip2}}</div>

        
        <!-- <div class="txt-gray-8a h6 txt-bold margin-top-20 margin-bottom-20"> 2. {{lang.memcontent2}}</div> 
        <div class="txt-gray-8a h6 txt-bold">3. {{lang.memcontent3}}</div> -->
      </div>
     
     
      
      <div class="zhifu">
        <div class="h5 txt-bold">{{lang.agreed}}<span class="txt-blue-14" routerLink='/agreement'>《{{lang.protocol}}》</span></div>
        <button class="btn txt-bold" (click)='pay()'>{{lang.imopenmember}}</button>
      </div>

  </div>
</ion-content>

<div class="modal-mask" *ngIf="d" (click)="gbzf()"></div>
<!--  *ngIf="d" -->
<div class="modal-dialog padding-20" *ngIf="d" (click)="$event.stopPropagation()">

  <div class="flex-row flex-center">
    <div class="flex-1"></div>
    <img [src]="uploadpath+'resource/'+res.cuowu" (click)="gbzf()" class="icon22 opa4 margin-right-10">
  </div>

  <div class="h4 txt-bold text-center margin-bottom-60" style="color:#262626">{{lang.orderpayment}}</div>
  <div class="flex-row flex-bottom  ">
    <div class="flex-1 h5  " style="color:#262626;opacity: 0.5;">{{lang.ordernumber}}：24587290857239</div>
    <div class="f22" style="color:#E50303;">{{lang.gang}} </div>
    <div class="f32 txt-bold" style="color:#E50303;">{{paymoney}}</div>
    <div class="f22" style="color:#E50303;">元</div>
  </div>

  <div class="h4-6 padding-bottom-20 txt-bold margin-top-40" style="color:#262626;border-bottom: 1px solid  #D6D7D9">
    {{lang.paymentmethod}}
  </div>

  <div (click)='zhifu(0)' class="flex-row flex-center xx">
    <img [src]="uploadpath+'resource/'+res.weixinzhifu" class="icon40">
    <div class="flex-1 margin-left-20">
      <div class="h5 txt-bold" style="color:#262626">{{lang.WeChatpay}}</div>
      <div class="h6 margin-top-5" style="color:#262626;opacity:0.5;">{{lang.WeChat}}</div>
    </div>
    <img [src]="uploadpath+'resource/'+(zhifufanshi==0?res.xuanzhong:res.xuanze)" (click)='zhifu(0)' class="icon-22 ">

  </div>

  <!-- <div (click)='zhifu(1)' class="flex-row flex-center xx">
    <img [src]="uploadpath+'resource/'+res.zhifubao" class="icon40">
    <div class="flex-1 margin-left-20">
      <div class="h5 txt-bold" style="color:#262626">{{lang.alipay}}</div>
      <div class="h6 margin-top-5" style="color:#262626;opacity:0.5;">{{lang.bankcard}}</div>
    </div>
    <img [src]="uploadpath+'resource/'+(zhifufanshi==1?res.xuanzhong:res.xuanze)" (click)='zhifu(1)' class="icon-22 ">

  </div> -->


  <div (click)='zhifu(2)' class="flex-row flex-center xx">
      <img [src]="uploadpath+'resource/'+res.paypal" class="icon40">
      <div class="flex-1 margin-left-20">
        <div class="h5 txt-bold" style="color:#262626">{{lang.zhifu}}</div>
        <div class="h6 margin-top-5" style="color:#262626;opacity:0.5;">{{lang.bankcard}}</div>
      </div>
      <img [src]="uploadpath+'resource/'+(zhifufanshi==2?res.xuanzhong:res.xuanze)" (click)='zhifu(2)' class="icon-22 ">
  
    </div>



  <button class="btns margin-top-80" (click)="lijizhifu()" >{{lang.payment}}</button>
