<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>观点详情</ion-title>
    </div>
  </ion-header>

<div *ngFor='let list of recommenddetail'>
  <div class=" margin-left-20 margin-bottom-30">
    <div class="f18 txt-black-10 txt-bold margin-top-30">{{list.biaoti}}</div>
    <div class="flex-row txt-gray-b9 margin-top-30 h5 txt-bold margin-bottom-30">
      <span class="flex-4">{{list.pub_time}}&nbsp;发布</span>
      <span class="flex-1 shoucang">
          <img src="{{uploadpath}}resource/{{res.shoucang}}" *ngIf='isshow' (click)='shoucang(list.user_id)' class="icon-20"/>
          <img src="{{uploadpath}}resource/{{res.shoucang2}}" *ngIf='isshow==false'  (click)='shoucang(list.user_id)' class="icon-20"/>
        <span>收藏</span>
      </span>
    </div>
    <div class="bg-gray content">
      <div class="padding-left-20 padding-bottom-20 h5" *ngFor='let item of list.latelycom'>
        <span class="">{{item.name_name}}</span>
        <span class="">{{item.hostteam_name}}VS{{item.guestteam_name}}</span>
        <span class="texu">{{item.com_time}}</span>
      </div>
    </div>
  </div>
  <div class="bg-gray-ec">
      <div class="flex-row person">
          <div class="flex-1 text-center touxiang"><img src="{{uploadpath}}member/{{list.member_photo}}" class="icon-60 radius-50"></div>
          <div class="flex-2 txt-bold margin-top">
                <div class="h4-5 txt-bold margin-bottom-20">{{list.user_id_name}}</div>
                <span class="h6 success">{{list.success}}</span>
                <span class="h6 winningnum">{{list.winningnum}}</span>
          </div>
          <div class="flex-1 text-center " *ngIf='guanzushow' (click)='guanzu(list.user_id)'>
              <img src="{{uploadpath}}resource/{{res.jia}}" class="jia"/>
              <span  class="guanzu">关注</span>
          </div>
          <div class="flex-1 text-center " *ngIf='guanzushow==false' (click)='guanzu(list.user_id)'>
              <img src="{{uploadpath}}resource/{{res.jian}}" class="jia"/>
              <span  class="quguan">取关</span>
          </div>
      </div>
      <div class="zhifu">
        <img src="{{uploadpath}}resource/{{res.suo}}" class="icon-50 bg-pink"/>
        <div class="h5">推荐内容，支付后才能查看</div>
        <div class="h5">距离截止时间：<span class="txt-red-ec margin-left-20">{{list.end_time}}</span></div>
      </div>
      <div class="h5 txt-gray-b9 text-center">内容意见仅供参考，投注需谨慎，如有疑问请联系我们</div>
      <div class="flex-row fixedzhifu">
        <div class="flex-2 txt-bold">
          <span>需支付:</span>
          <span class="margin-left-20 txt-blue-14">{{list.coincount}}球币</span>
        </div>
        <div class="flex-1">
          <button (click)='pay(list.user_id,list.id)'>立即支付</button>
        </div>
      </div>
  </div>
</div>
