@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

  .msg {
      height: rpx(182);
      background: #fff;
      margin-bottom: rpx(4);
      padding-top: rpx(10);
      padding-right: rpx(20);
      .time {
          color: #6C6969;
      }
  }