@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

  .msg {
      height: rpx(182);
      background: #ffffff;
      margin-bottom: rpx(4);
      padding-top: rpx(38);
      padding-right: rpx(20);
      .time {
          color: #6C6969;
      }
  }

  .box {
      width: rpx(10);
      height: rpx(10);
      background: red;
      border-radius: 50%;
      position: relative;
      left: 3%;
      bottom: 51%;
  }