<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-20 margin-left-20 margin-top-30" (click)='back()'/>
      <ion-title>{{lang.message}}</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div class="bg-gray-f0">
    <div class="msg" *ngFor='let item of messagelist' (click)='detail(item)'>
      <div class="content flex-row">
        <div class="flex-1 text-center margin-top-10">
          <img *ngIf='item.mokuai_name=="赛马"' src="{{uploadpath}}resource/{{res.saima}}" class="icon-25"/>
          <img *ngIf='item.mokuai_name=="足智彩"' src="{{uploadpath}}resource/{{res.zuzhicai}}" class="icon-25"/>
          <img *ngIf='item.mokuai_name=="推介"' src="{{uploadpath}}resource/{{res.tuijian}}" class="icon-25"/>
          <img *ngIf='item.mokuai_name==""' src="{{uploadpath}}resource/{{res.message}}" class="icon-25"/>
        </div>
        <div class="flex-5 h5 txt-bold margin-top-10">{{item.content}}</div>
      </div>
      <div class="time text-right h6 margin-right-20">{{item.updated_date}}</div>
    </div>
    <div class="msg" *ngFor='let list of notificationlist' (click)='detail(list)'>
        <div class="content flex-row">
          <div class="flex-1 text-center margin-top-10">
            <img  src="{{uploadpath}}resource/{{res.message}}" class="icon-25"/>
          </div>
          <div class="flex-5 h5 txt-bold margin-top-10" *ngIf='list.ballcoins>0'>通知：您已充值{{list.ballcoins}}，花了{{list.chongmoney}}元。</div>
          <div class="flex-5 h5 txt-bold margin-top-10" *ngIf='list.paycoins>0'>通知：您已购买了{{list.recommend_user_id}}的推介，花了{{list.paycoins}}球币。</div>
          <div class="flex-5 h5 txt-bold margin-top-10" *ngIf='list.membermoney>0'>通知：您已充值会员，从{{list.starttime_dateformat}}到{{list.endtime_dateformat}}，花了{{list.membermoney}}元。</div>
        </div>
        <div class="time text-right h6 margin-right-20">{{list.updated_date}}</div>
      </div>
  </div>
</ion-content>
