<ion-content>
    <ion-header>
        <ion-slides (swipe)="swipeEvent($event)"
         #slide01  pager loop="true" autoplay="2000"  (ionSlideTouchEnd)= "slideTouchEnd()">
              <ion-slide  *ngFor='let img of imgs'>
                  <img src="{{uploadpath}}lunbo/{{img.lunbo}}">
                </ion-slide>
        </ion-slides>

      <div class="flex-row flex-center bg-y-o nav-box bor_bot-b ">
        <div class="margin-left-20 margin-right-20"><img src="{{uploadpath}}resource/{{res.kuaibao}}" class="icon-40"/></div>
        
        <div><span class="h5 txt-bold">最新最猛最火热的推荐尽在大赢家！！！</span>  </div>
      </div>
    </ion-header>

  <div *ngFor='let list of recomlist' class="margin-top-30 bor-bot-b" (click)='tiaozhuan(list.id)'>
    <div class="flex-row">
      <div class="flex-1"><img src="{{uploadpath}}recommend/{{list.photo}}" class="icon-60 radius-50  margin-20"></div>
      <div class="flex-2 txt-bold">
        <div class="h4-5 txt-bold margin-bottom-20">{{list.name}}</div>
        <span class="h6 success">{{list.success}}</span>
        <span class="h6 winningnum">{{list.winningnum}}</span>
      </div>
      <div class="flex-1 text-right margin-right-20">
        <div class="h2 txt-red-r txt-bold">{{list.success_result}}</div>
        <span class="h6 txt-gray-d text-right txt-bold">近期战绩</span>
      </div>
    </div>
    <div class="margin-left-20 margin-bottom-20 h5 txt-bold">{{list.biaoti}}</div>
    <div class="bg-gray margin-left-20 content">
      <div class="padding-left-20 padding-bottom-20 h5" *ngFor='let item of list.latelycom'>
        <span class="">{{item.name}}</span>
        <span class="">{{item.hostteam}}VS{{item.guestteam}}</span>
        <span class="texu">{{item.com_time}}</span>
      </div>
    </div>
    <div class="margin-left-20 h5 flex-row margin-top-20 txt-bold  margin-bottom-20">
      <span class="flex-3">{{list.pub_time_formatting}}</span>
      <span class="flex-1 h4-5 txt-b-14 text-center">{{list.coincount}}球币</span>
    </div>
  </div>
</ion-content>
