<ion-header>
    <div class="bg-nav txt-white">
          <!-- <ion-icon (click)='back()' class="h4 txt-white margin-left-20 margin-top-30" name="ios-arrow-back"></ion-icon> -->
          <img src="{{uploadpath}}resource/{{res.fanhui}}" class="icon-40 margin-left-20 margin-top-20" (click)='back()'/>
      <ion-title>{{lang.aboutus}}</ion-title>
    </div>
  </ion-header>

<ion-content>
  <div>
      <div class="height-92"></div>
      <div class="flex-row flex-column">
        <img [src]="uploadpath+'resource/'+res.logo" class="icon-100 radius " style="">
        <div style="" class="height-40"> </div>
        <div class="txt-bold h4-6">{{lang.tuiliao}}</div>
        <div class="height-1"></div>
        <div class="height-1"></div>
        <div class="h5">version 0.1.0</div>
        <div class="height-110"></div>
        <div style=" width:90vw;background:#D6D7D9;" class="height-1"></div>
      </div>
    
    
    
      <div class="flex-row flex-center margin-left-40 margin-right-40 pd" style="">
        <div class="flex-row column flex-1">
          <div class="h5">{{lang.tuiliaoeamil}}</div>
          <div class="height-1"></div>
          <div class="h5" style="color:#D6D7D9">{{about.officialemail}}</div>
        </div>
        <div style="color:#F87961" class="h5" (click)="copy(about.officialemail)" >{{lang.copy}}</div>
      </div>
      <div style="width:90vw;background:#D6D7D9;" class="margin-left-40 margin-right-40 height-1"></div>
    
    
      <div class="flex-row flex-center margin-left-40 margin-right-40 pd">
        <div class="flex-row column flex-1">
          <div class="h5">{{lang.tuiliaowarn}}</div>
          <div class="height-1"></div>
          <div class="h5" style="color:#D6D7D9">{{about.jubaomobile}}</div>
        </div>
        <div (click)='call(about.jubaomobile)'  style="color:#F87961" class="h5"><img src="{{uploadpath}}resource/{{res.call}}" class="icon-20"/></div>
      </div>
      <div style="width:90vw;background:#D6D7D9;" class="margin-left-40 margin-right-40 height-1"></div>
    
    
      <div class="height-70"></div>
    
      <div class="bot">
        <div class="flex-row flex-column ">
          <div class="h5 opa">Copyright©️2018-2019</div>
          <div class="h5 opa">{{lang.tuiliaobanquan}}</div>
        </div>
      </div>
    
      <div class="height-40"></div>
    
  </div>
</ion-content>
